@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-Black.woff2") format("woff2"),
    url("../fonts/english/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-BlackItalic.woff2") format("woff2"),
    url("../fonts/english/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/english/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-BoldItalic.woff2") format("woff2"),
    url("../fonts/english/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/english/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/english/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-ExtraLight.woff2") format("woff2"),
    url("../fonts/english/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/english/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-Italic.woff2") format("woff2"),
    url("../fonts/english/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/english/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-LightItalic.woff2") format("woff2"),
    url("../fonts/english/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/english/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-MediumItalic.woff2") format("woff2"),
    url("../fonts/english/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/english/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/english/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/english/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-Thin.woff2") format("woff2"),
    url("../fonts/english/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/english/Montserrat-ThinItalic.woff2") format("woff2"),
    url("../fonts/english/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

html,
body,
section,
header,
footer,
nav,
article,
aside,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
div,
span,
a,
button,
input,
label,
form,
table {
  font-family: "Montserrat";
}
