// import-pages
// #region pages

@use "./layout/header";
@use "./layout/hero";
@use "./layout/skills";
@use "./layout/projects";
@use "./layout/footer";

// #endregion

// import-css
// #region css

// Fonts-Css
@import url(./bootstrap.css);

// Fonts-Css
@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css);

// Fonts-Css
@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

// Grid-System
@import url(https://unpkg.com/aos@2.3.1/dist/aos.css);

// #endregion

// #region

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

body {
  font-family: "Montserrat", serif;
  position: relative;
  background-color: #0e0e0e;
}

:root {
  --text-black: #000;
  --text-white: #fff;
  --svg-menu: #000;
  --clr-githup: #313131;
  --card-poro: #fff;
  --back-header: #e6e3e3;
  --logo-header: #000;
}

// #endregion

body:has(.darkmode input[type="checkbox"]:checked) {
  color: #fff;
  --text-black: #fff;
  --svg-menu: #fff;
  --text-white: #313131;
  --clr-githup: #fff;
  --card-poro: #4a4a4a;
  --back-header: #272727;
  --logo-header: #fff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #4a4a4a;
  color: white;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
  animation: fadeInUp 0.4s ease;
}

#scrollToTopBtn:hover {
  background-color: #434343;
  transform: scale(1.09);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
