* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* #region */

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

body {
  font-family: "Montserrat", serif;
  position: relative;
}

:root {
  --text-black: #000;
  --text-white: #fff;
  --svg-menu: #000;
  --clr-githup: #313131;
  --card-poro: #fff;
  --back-header: #f3f3f3;
  --logo-header: #000;
}

body {
  background-color: #0e0e0e;
}

/* #endregion */

/* ______________HEADER_______________ */
/* #region HEADER */

header {
  width: 100%;
  padding: 0 15px;
  position: fixed;
  top: 16px;
  z-index: 99999;
}

header .container {
  border-radius: 15px;
  background-color: var(--text-white);
}

header .row {
  padding: 0 16px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .row .logo {
  padding: 0;
}

header .row .logo svg {
  width: 80px;
}

header .row .logo svg path {
  fill: var(--logo-header);
}

header .row .nem {
  display: flex;
  align-items: center;
  gap: 6px;
  width: auto;
  padding: 0;
  color: var(--text-black);
}

header .row .nem a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-black);
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 600;
  text-decoration: revert;
}

header .row .nem span {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-black);
}

header .row .nem a:hover {
  color: var(--text-black);
}

header .row .nem a svg path {
  fill: var(--text-black);
  transition: all 0.3s;
}

header .row .nem a .svg {
  width: 22px;
  height: 22px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

header .row .nem a .svg svg {
  position: absolute;
  top: 0;
  left: 0;
}

header .row .nem a:hover .svg svg {
  left: -22px;
  transition: all 0.4s;
}

header .logo img {
  width: 80%;
}

header .row nav {
  width: auto;
  padding: 0;
}

header .row nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

header .row nav ul a {
  color: var(--text-black);
  font-weight: 600;
}

header .row nav ul .active {
  color: #8082e3;
}

.btn-primary {
  width: auto;
}

.btn-primary svg path {
  fill: var(--logo-header);
}

header .row .offcanvas-body nav {
  display: block;
}

header .row .offcanvas-body nav ul {
  flex-direction: column;
  align-items: flex-start;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 60px;
}

.offcanvas-header .btn-close {
  padding: 0;
  margin: 0;
}

:not(.btn-check) + .btn:active,
.offcanvas-header .btn-close,
.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:active,
.btn:active {
  background: transparent;
  box-shadow: none;
  border: none;
  display: flex;
}

.offcanvas {
  max-width: 300px;
}

.btn-primary {
  display: none;
  padding: 0;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#offcanvasRight {
  background-color: var(--text-white);
}

.darkmode {
  display: flex;
  width: auto;
  padding: 0;
}

.darkmode input {
  display: none;
}

.darkmode label {
  width: 70px;
  height: 30px;
  border-radius: 999px;
  background: #b4b4b4;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  box-shadow: 0px 0px 20px #0000009e inset;
}

.darkmode label:hover .circle {
  --circle-width: 31px;
  border-radius: 999px;
}

.darkmode .circle {
  --circle-width: 26px;
  position: absolute;
  width: var(--circle-width);
  height: 26px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: all 0.4s;
  overflow: hidden;
}

.darkmode svg {
  width: 20px;
  position: absolute;
  transition: all 0.4s;
}

.darkmode .sun {
  color: #ffd900;
  margin-top: -200%;
}

.darkmode .moon {
  margin-top: 0%;
  color: #313131;
}

.darkmode input[type="checkbox"]:checked + label {
  background: #1f1f1f;
  box-shadow: 0px 0px 10px 4px #161616 inset;
}

.darkmode input[type="checkbox"]:checked + label .circle {
  background: #3f3f3f;
  left: calc(100% - var(--circle-width) - 2px);
  box-shadow: 0px 0px 4px rgb(0 0 0 / 27%), 0px 0px 13px rgb(0 0 0 / 47%) inset;
}

.darkmode input[type="checkbox"]:checked + label .circle .moon {
  margin-top: 200%;
}

.darkmode input[type="checkbox"]:checked + label .circle .sun {
  margin-top: 0%;
}

.btn-primary svg {
  fill: var(--svg-menu);
}

@media (max-width: 700px) {
  .btn-primary {
    display: block;
  }

  header .row nav {
    display: none;
  }
}

.btn-close svg {
  fill: var(--text-black);
}

/* #endregion HEADER */

/* _______________HERO________________ */
/* #region HERO */

.hero {
  padding: 170px 15px 140px 15px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #0000005e;
  position: relative;
  z-index: 0;
  color: #fff;
}

.gap-5 {
  gap: 5rem !important;
}

.hero .card {
  background: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  width: 100%;
  max-width: 350px;
  gap: 30px;
  border-radius: 15px;
}

.hero .card::after,
.hero .card::before {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: conic-gradient(
    from var(--angle),
    transparent 10%,
    #226999,
    #258080,
    #258080
  );
  z-index: -3;
  border-radius: 18px;
  animation: 3s spin
    linear(
      0 0%,
      0 2.27%,
      0.02 4.53%,
      0.04 6.8%,
      0.06 9.07%,
      0.1 11.33%,
      0.14 13.6%,
      0.25 18.15%,
      0.39 22.7%,
      0.56 27.25%,
      0.77 31.8%,
      1 36.35%,
      0.89 40.9%,
      0.85 43.18%,
      0.81 45.45%,
      0.79 47.72%,
      0.77 50%,
      0.75 52.27%,
      0.75 54.55%,
      0.75 56.82%,
      0.77 59.1%,
      0.79 61.38%,
      0.81 63.65%,
      0.85 65.93%,
      0.89 68.2%,
      1 72.7%,
      0.97 74.98%,
      0.95 77.25%,
      0.94 79.53%,
      0.94 81.8%,
      0.94 84.08%,
      0.95 86.35%,
      0.97 88.63%,
      1 90.9%,
      0.99 93.18%,
      0.98 95.45%,
      0.99 97.73%,
      1 100%
    )
    infinite;
}

.hero .card::before {
  filter: blur(1rem);
  opacity: 0.7;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.hero img {
  width: 100%;
  border-radius: 15px;
}

@keyframes spin {
  from {
    --angle: 0deg;
    --angle: -360deg;
  }
}

@media (max-width: 999px) {
  .hero .rows {
    flex-direction: column;
    justify-content: center;
  }

  .hero .rows .text {
    text-align: center;
  }
}

/* #endregion HERO */

/* ______________SKILLS_______________ */
/* #region SKILLS */

.skills {
  padding: 150px 15px 0 15px;
  background-color: var(--back-header);
}

.skills .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.skills ul svg {
  width: 75px;
}

.skills ul .git path {
  fill: var(--clr-githup);
}

/* #endregion SKILLS */

/* _____________PROJECTS______________ */
/* #region PROJECTS */

.projects {
  padding: 100px 15px;
  background-color: var(--back-header);
}

.projects .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.swiper-slide img:hover {
  transform: scale(1.07);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.swiper-slide {
  background: #4a4a4a;
  background: var(--text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.swiper-slide .text-poro {
  padding: 5px 18px 25px 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.swiper-slide .text-poro p {
  font-size: 15px;
}

.swiper-slide .link {
  padding: 18px;
  padding-top: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

.swiper-slide .link a {
  color: var(--text-black);
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: revert;
  font-size: 17px;
}

.swiper-slide .link a svg path {
  stroke: var(--clr-githup);
}

.swiper-slide .link a .git path {
  fill: var(--clr-githup);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
  padding: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 0.5;
  background: transparent;
  border: 2px solid var(--text-black);
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  opacity: 0.7;
  position: relative;
}

.swiper-pagination-bullet-active::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--text-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 845px) {
}

/* #endregion PROJECTS */

/* ______________FOOTER_______________ */
/* #region FOOTER */

footer {
  padding: 20px 15px;
  background: var(--text-white);
}

footer .row {
  justify-content: space-between;
  align-items: center;
}

footer .row p {
  width: auto;
  padding: 0;
}

footer .row ul {
  width: auto;
  display: flex;
  gap: 16px;
  padding: 0;
}

footer .row ul svg {
  width: 30px;
  height: 30px;
}

footer .row ul svg path {
  fill: var(--clr-githup);
}

@media (max-width: 635px) {
  footer .row {
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  footer .row p {
    text-align: center;
  }
}

/* #endregion FOOTER */

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  z-index: -1;
}

body:has(.darkmode input[type="checkbox"]:checked) {
  color: #fff;
  --text-black: #fff;
  --svg-menu: #fff;
  --text-white: #313131;
  --clr-githup: #fff;
  --card-poro: #4a4a4a;
  --back-header: #272727;
  --logo-header: #fff;
}
