/* ______________________F O N T S_______________________ */

/* #region FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* #endregion FONTS */



/* #region */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Black: #000;
}

.container {
  max-width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul, li, a, p, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 13;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000e1;
  transition: all 0.3s;
}

.loading .a {
  border: 10px solid #dc3545;
  border-right-color: transparent;
  width: 120px;
  height: 120px;
  position: fixed;
  transform: rotate(720deg);
}

.loading .b {
  border: 10px solid #dc3545;
  border-bottom-color: transparent;
  width: 80px;
  height: 80px;
  position: fixed;
}

.loading h1 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 200px;
  --bs-text-opacity: 1;
  color: #dc3545;
}

/* #endregion */



/* _____________________hero______________________ */

/* #region hero */

.hero {
  background-image: url(../img/back-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 768px;
}

.hero .container {
  min-height: 768px;
}

.hero .container .item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: 768px;
}

.hero .container .item .img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #D74C55;
  border: 1px solid #d74c55;
  box-shadow: 0px 0px 40px 8px #d74c559c;
}

.hero .container .item .img img {
  width: 100%;
}

.hero .container .item h3 {
  color: #D74C55;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .container .item h3 span {
  font-size: 30px;
}

.hero .container .item h1 {
  color: #fff;
  font-size: 45px;
}

.hero .container .item h2 {
  color: #fff;
  font-size: 35px;
}

/* #endregion hero */



/* _____________________skills______________________ */

/* #region skills */

.skills {
  padding: 80px 0 100px 0;
}

.skills .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.skills .item h2 {
  font-size: 40px;
}

.skills .item .skill {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.skills .item .skill div {
  width: 250px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
}

/* #endregion skills */



/* _____________________projects______________________ */

/* #region projects */

.projects {
  margin-bottom: 100px;
}

.projects .items h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 45px;
}

.projects .items .project-1 {
  display: flex;
  gap: 30px 80px;
  flex-wrap: wrap;
  justify-content: center;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects .item {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 20px;
  align-items: center;
}

.projects .item img {
  width: 100%;
}

.projects .item h3 {
  color: #2D3034;
  font-size: 25px;
}

.projects .item div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.projects .item div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.projects .item div h5,
.projects .item div p {
  margin-left: auto;
  margin-right: auto;
  color: #2D3034;
}

.projects .item div p {
  font-size: 15px;
}

.projects .item .github {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 17px;
  color: #2D3034;
  font-weight: 700;
  gap: 18px;
  border: 2px solid #2D3034;
  transition: all 0.4s;
}

.projects .item .github:hover {
  background: #2D3034;
  color: #fff;
}

.projects .item .github:hover svg path {
  fill: #fff;
}

.projects .item .demo {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 17px;
  color: #B40712;
  font-weight: 700;
  gap: 18px;
  border: 2px solid #B40712;
  transition: all 0.4s;
}

.projects .item .demo:hover {
  background: #B40712;
  color: #fff;
}

.projects .item .demo:hover svg path {
  fill: #fff;
}



/* #endregion projects */



/* _____________________footer______________________ */

/* #region footer */

footer {
  background-color: #2D3034;
}

footer .top-footer .item {
  gap: 25px;
  display: flex;
  padding: 30px 15px;
  min-height: 200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

footer .top-footer .item h2 {
  color: #fff;
  font-size: 38px;
}

footer .top-footer .item .languages {
  display: flex;
  gap: 15px;
}

footer .top-footer .item .languages a {
  border-radius: 20px;
  width: 100px;
  height: 40px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

footer .top-footer .item .languages a:hover {
  background-color: #fff;
  color: #2D3034;
}

footer .top-footer .item .languages .active {
  background-color: #fff;
  color: #2D3034;
}

footer .top-footer .item ul {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer .top-footer .item ul a svg path {
  transition: all 0.3s;
}

footer .top-footer .item ul a:hover svg path {
  fill: #eb505a;
}


footer .bottom-footer .text {
  height: 60px;
  border-top: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .bottom-footer .text p {
  color: #fff;
  text-align: center;
  font-size: 15px;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", system-ui;
}

/* #endregion footer */
