@import url(./bootstrap.css);
@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css);
@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://unpkg.com/aos@2.3.1/dist/aos.css);
header {
  width: 100%;
  padding: 0 15px;
  position: fixed;
  top: 16px;
  z-index: 99;
}
header .container {
  border-radius: 15px;
  background-color: var(--text-white);
}
header .container .row {
  padding: 0 16px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
header .container .row .logo {
  padding: 0;
}
header .container .row .logo svg {
  width: 80px;
}
header .container .row .logo svg path {
  fill: var(--clr-githup);
}
header .container .row nav {
  width: auto;
  padding: 0;
}
header .container .row nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
header .container .row nav ul a {
  color: var(--clr-githup);
  font-weight: 600;
}
header .container .row .nem {
  display: flex;
  align-items: center;
  gap: 6px;
  width: auto;
  padding: 0;
  color: var(--text-black);
}
header .container .row .nem .darkmode {
  display: flex;
  align-items: center;
  width: auto;
  padding: 0;
}
header .container .row .nem .darkmode input {
  display: none;
}
header .container .row .nem .darkmode label {
  width: 70px;
  height: 30px;
  border-radius: 999px;
  background: #b4b4b4;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6196078431) inset;
}
header .container .row .nem .darkmode label .circle {
  --circle-width: 26px;
  position: absolute;
  width: var(--circle-width);
  height: 26px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: all 0.4s;
  overflow: hidden;
}
header .container .row .nem .darkmode label .circle svg {
  width: 20px;
  position: absolute;
  transition: all 0.4s;
}
header .container .row .nem .darkmode label .circle .sun {
  color: #ffd900;
  margin-top: -200%;
}
header .container .row .nem .darkmode label .circle .moon {
  margin-top: 0%;
  color: #313131;
}
header .container .row .nem .darkmode input[type=checkbox]:checked + label {
  background: #1f1f1f;
  box-shadow: 0px 0px 10px 4px #161616 inset;
}
header .container .row .nem .darkmode input[type=checkbox]:checked + label .circle {
  background: #3f3f3f;
  left: calc(100% - var(--circle-width) - 2px);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27), 0px 0px 13px rgba(0, 0, 0, 0.47) inset;
}
header .container .row .nem .darkmode input[type=checkbox]:checked + label .circle .moon {
  margin-top: 200%;
}
header .container .row .nem .darkmode input[type=checkbox]:checked + label .circle .sun {
  margin-top: 0%;
}
header .container .row .nem span {
  font-size: 25px;
  font-weight: 200;
  color: var(--text-black);
}
header .container .row .nem a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-black);
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 600;
  text-decoration: revert;
}
header .container .row .nem a .svg {
  width: 22px;
  height: 22px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
header .container .row .nem a .svg svg {
  position: absolute;
  top: 0;
  left: 0;
}
header .container .row .nem a .svg svg path {
  fill: var(--text-black);
  transition: all 0.3s;
}
header .container .row .nem a:hover {
  color: var(--text-black);
}
header .container .row .nem a:hover .svg svg {
  left: -22px;
  transition: all 0.4s;
}

@media (max-width: 680px) {
  header .row nav {
    display: none;
  }
}
.hero {
  padding: 130px 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.368627451);
  background-image: linear-gradient(180deg, #000000 26.76%, #272727 81.98%);
  position: relative;
  z-index: 0;
  color: #fff;
  overflow: hidden;
}
.hero #particles-js {
  width: 100%;
  max-width: 961px;
}
.hero #particles-js .particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero #particles-js canvas {
  display: block;
  vertical-align: bottom;
  position: relative;
  z-index: -1;
}
.hero #particles-js .rows .card {
  background: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  width: 100%;
  max-width: 350px;
  gap: 30px;
  border-radius: 15px;
  border-radius: 50%;
}
.hero #particles-js .rows .card img {
  width: 100%;
  border-radius: 15px;
  border-radius: 50%;
}
.hero #particles-js .rows .card::after,
.hero #particles-js .rows .card::before {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: conic-gradient(from var(--angle), transparent 25%, #ff0000);
  z-index: -3;
  border-radius: 18px;
  border-radius: 50%;
  animation: 4s spin linear infinite;
}
.hero #particles-js .rows .card::before {
  filter: blur(1rem);
  opacity: 0.7;
}
.hero #particles-js .rows .text h1 span {
  color: #ff0000;
  font-weight: 700;
}

.gap-5 {
  gap: 5rem !important;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes spin {
  from {
    --angle: 0deg;
    --angle: -360deg;
  }
}
@media (max-width: 538px) {
  .hero p br {
    display: none;
  }
}
@media (max-width: 999px) {
  .hero .rows {
    flex-direction: column;
    justify-content: center;
  }
  .hero .rows .text {
    text-align: center;
  }
}
.skills {
  padding: 150px 15px 0 15px;
  background-color: var(--back-header);
  position: relative;
}
.skills .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.skills ul li {
  width: 175px;
  height: 60px;
  background-color: transparent;
  perspective: 1000px;
}
.skills ul li .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.skills ul li .flip-card-inner .flip-card-front,
.skills ul li .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.skills ul li .flip-card-inner .flip-card-front {
  background: var(--text-white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-githup);
  gap: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.skills ul li .flip-card-inner .flip-card-front svg {
  width: 40px;
  height: 40px;
}
.skills ul li .flip-card-inner .flip-card-back {
  background: var(--text-white);
  overflow: hidden;
  border-radius: 10px;
  transform: rotateY(180deg);
}
.skills ul li .flip-card-inner .flip-card-back a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 700;
  color: var(--clr-githup);
  text-decoration: revert;
}
.skills ul .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.projects {
  padding: 100px 15px;
  background-color: var(--back-header);
}
.projects .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.projects .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}
.projects .swiper .swiper-wrapper {
  display: flex;
  align-items: stretch !important;
  height: 100%;
}
.projects .swiper .swiper-slide {
  background: #4a4a4a;
  background: var(--text-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: auto;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.projects .swiper .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s;
}
.projects .swiper .swiper-slide img:hover {
  transform: scale(1.03);
}
.projects .swiper .swiper-slide .text-poro {
  padding: 5px 18px 25px 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.projects .swiper .swiper-slide .text-poro p {
  font-size: 15px;
}
.projects .swiper .swiper-slide .link {
  padding: 18px;
  padding-top: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}
.projects .swiper .swiper-slide .link a {
  color: var(--clr-githup);
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: revert;
  font-size: 17px;
}
.projects .swiper .swiper-slide .link a svg path {
  stroke: var(--clr-githup);
}
.projects .swiper .swiper-slide .link a .git path {
  fill: var(--clr-githup);
}
.projects .swiper .swiper-horizontal > .swiper-pagination-bullets,
.projects .swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}
.projects .swiper .swiper-horizontal > .swiper-pagination-bullets,
.projects .swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.projects .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.projects .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  padding: 0;
}
.projects .swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 0.5;
  background: transparent;
  border: 2px solid var(--text-black);
}
.projects .swiper .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  opacity: 0.7;
  position: relative;
}
.projects .swiper .swiper-pagination-bullet-active::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--text-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ______________FOOTER_______________ */
/* #region FOOTER */
footer {
  padding: 20px 15px;
  background: var(--text-white);
}
footer .row {
  justify-content: space-between;
  align-items: center;
}
footer .row p {
  width: auto;
  padding: 0;
}
footer .row ul {
  width: auto;
  display: flex;
  gap: 16px;
  padding: 0;
}
footer .row ul svg {
  width: 30px;
  height: 30px;
}
footer .row ul svg path {
  fill: var(--clr-githup);
}

@media (max-width: 635px) {
  footer .row {
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  footer .row p {
    text-align: center;
  }
}
/* #endregion FOOTER */
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

body {
  font-family: "Montserrat", serif;
  position: relative;
  background-color: #0e0e0e;
}

:root {
  --text-black: #000;
  --text-white: #fff;
  --svg-menu: #000;
  --clr-githup: #313131;
  --card-poro: #fff;
  --back-header: #e6e3e3;
  --logo-header: #000;
}

body:has(.darkmode input[type=checkbox]:checked) {
  color: #fff;
  --text-black: #fff;
  --svg-menu: #fff;
  --text-white: #313131;
  --clr-githup: #fff;
  --card-poro: #4a4a4a;
  --back-header: #272727;
  --logo-header: #fff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #4a4a4a;
  color: white;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#scrollToTopBtn:hover {
  background-color: #434343;
  transform: scale(1.09);
}

#scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
  animation: fadeInUp 0.4s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
