:root {
  --text-black: #000;
  --text-white: #fff;
  --svg-menu: #000;
  --clr-githup: #313131;
  --card-poro: #fff;
  --back-header: #e6e3e3;
  --logo-header: #000;
}

body:has(.darkmode input[type="checkbox"]:checked) {
  --text-black: #fff;
  --svg-menu: #fff;
  --text-white: #313131;
  --clr-githup: #fff;
  --card-poro: #4a4a4a;
  --back-header: #272727;
  --logo-header: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-color: #0e0e0e;
  margin: 0;
}
